<!DOCTYPE html>

<head>
{% block head %}
{% block header_content %} 

{% endblock %}
<link rel="stylesheet" type="text/css" href="/static/preview/preview.css">
{% endblock %}
</head>

<body>
{% block page_header %}
<ul id="page-title-block">
  <li id="title"><a href={% url 'preview:index' %}><span>Gmail Preview</span></a></li>
 {% if user.is_authenticated %}
  <li class="nav"><a href={% url 'preview:new' %}>New</a></li>
  <li class="nav"><a href={% url 'preview:logout' %}>Logout</a></li>
  {% else %}
  <li class="nav"><a href={% url 'preview:login' %}>Login</a></li>
  {% endif %}
</ul>

<div id="content">
  {% endblock %}

  {% block content %}
</div>

{% endblock %}

{% block page_footer %}
<div id="page-footer-block">  
 
</div>
{% endblock %}
</body>

