<!DOCTYPE html>

<head>
{% block head %}
{% block header_content %} 

{% endblock %}
<link rel="stylesheet" type="text/css" href="/static/preview/preview.css">
{% endblock %}
</head>

<body>
{% block page_header %}
<div id="page-title-block">
  <a href={% url 'preview:index' %}><div>Gmail Preview</div></a>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block page_footer %}
<div id="page-footer-block">  
  {% if user.is_authenticated %}
  <a href={% url 'preview:logout' %}><span>Logout</span></a>
  {% else %}
  <a href={% url 'preview:login' %}><span>Login</span></a>
  {% endif %}
  <a href={% url 'preview:new' %}><span>New</span></a>
</div>
{% endblock %}
</body>

