
{% extends "preview/base.html" %}

{% block content %}
<div id="preview-explanation" class="basic-content-margins">
  <p> A tool for checking how the subject line and message body of an email will appear in the Gmail inbox. <a class="inline-link"href={% url 'preview:login' %}>Login</a> to create new emails, check out previews created by other users, and leave comments.
</p>
<h2>Recent Previews:</h2>
</div>
{% if email_list %}
    <ul id="index-list">
    {% for email in email_list %}
    <li><a href={% url 'preview:detail' email.pk %}><span class="subject">{{ email.subject }}</span><span class="body">{{ email.body }}</span></a>
      <span class="creator">Created by <em>{{ email.creator }}</em></span></li> 
    {% endfor %}
    </ul>

{% else %}
    No previews here.
{% endif %}

{% endblock %}
