
/* top navigation links / search bar */
#gb 
{
    display: none;
}

div.Tm.aeJ
{
    overflow-y: hidden ; /* hide inbox scroll bar */
}

/* bottom navigation/ stats */
div.aeG 
{
    display: none;
}

/* left sidebar */
div.nH.oy8Mbf.nn.aeN 
{
}

/* left sidebar chat box */
div.akc.lKgBkb 
{
    display: none;
}

/* inbox ad */
div.mq 
{
    display: none;
}


#\:p9
{
    display: none;
}