

/*----- universal styles applied to base.html ------*/

body {
    font-family: Arial, san-serif;
    overflow-y: auto;
}

p {
    font-family: Georgia, serif;
    font-size: 13pt;
}

#page-title-block {
   background-color: black;
   height: 100px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   list-style-type: none;
   margin: 0;
   z-index: 2;
}

#page-title-block li {
    display: inline;
    padding-top: 30px;
}

#page-title-block li a {
    text-decoration: none;
    color: white;
}

.nav {
    float: left;
    font-size: 14pt;
    font-weight: bold;
}

.nav a {
    display: block;
    padding-top: 15px;
    padding-left: 40px;
}

#title {
    float: left;
    font-size: 28pt;
    font-weight: bold;
    padding-left: 60px;
}

#content {
   /* overflow-y: scroll;*/
    margin-top: 100px; /* same as #page-title-block height */
  
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
}

form input {
    display: block; /* labels above fields */
    font-size: 12pt;
}

form p span {
    color: #666666; /* requirements */
}

form p label {
    font-family: Georgia, serif;
    font-size: 12pt;
}

.basic-content-margins {
  margin: 200px 0px 0px 100px;   
}

.inline-link {
    color: #666666;
    text-decoration: none;
}

.errorlist {
    list-style-type: none;
}

/*---------------------------------------
-------------page specific styling-------
--------------------------------------*/


/*---------index page------*/

#preview-explanation {
    margin-top: 160px;
    width: 700px;
}

#preview-explanation h2 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20pt;
}

#index-list {
   padding-left: 100px;
   width: 600px;
}
    
#index-list li {
    padding-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid;
    display: block;
}

#index-list li a {
    color: black;
    text-decoration: none;
} 

#index-list li a span.subject {
    display: block;
    font-size: 14pt;
    font-family: Georgia, serif;
}

#index-list li a span.body {
    font-style: italic;
    font-size: 11pt;
    color: #8c8c8c;
}

#index-list li span.creator {
    display: block;
    font-size: 10.5pt;
    color: #666666;
}

/*-----detail page---------*/

#preview {
    height: 400px;
    position: relative;
    z-index: -1;
}

#comments {
    padding-left: 222px;
    width: 600px;
    position: relative;
}

#comments ul {
    display: inline; /* get rid of this to see funky border extension (firefox)*/
}

#comments ul li {
    display: block;
    border-left: 2px solid;  
    padding-left: 10px;
    padding-bottom: 20px;
}

.comment-body {
    display: block;
    font-family: Georgia, serif;
    font-size: 12pt;
}

.user {
    font-style: italic;
}

.comment-details {
    display: block;
    color: #666666;
    font-size: 11pt;
}

#comments form p label {
    display: none;
}

#comments form p textarea {
    width: 600px;
    height: 50px;
}

/*-------new preview page --------*/

#new-form-description h3 {
    font-family: Georgia, serif;
}

#new-form {
    /*border-top: 2px solid;*/
    margin-top: 40px;
    width: 200px;
}

