

body {
    font-family: Arial, san-serif;
}

#page-title-block {
   background-color: black;
   height: 100px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
}

#page-title-block a {
    text-decoration: none;
}

#page-title-block a div {
   font-size: 24pt;
   color: white;
   padding: 40px 0px 0px 30px;
}

#preview {
    height: 400px;
    position: relative;
    z-index: -1;
}

#content {
    overflow-y: scroll;
    margin-top: 100px; /* same as #page-title-block height */
}

#comments {
  
}

#comments ul li {
    display: block;
}


#page-footer-block {
    background-color: black; #898989;
    color: white;
    height: 20pt;
    padding-top: 10pt;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#page-footer-block a {
    text-decoration: none;
}

#page-footer-block a span {
    color: white;
    padding-left: 35px;
}